<!doctype html>
<html lang="en">
    <head>
        <%- include('head'); %>
        <title>Note Form</title>
    </head>
    <body>
    <%- include('header'); %>
    <section>
        <div class="note note-form">
            <form action="/api/v1/entities" id="create-note-form" method="POST">
            <% attributes.forEach((attribute) => {
                if (attribute.tag === "input") {%>
                    <input type="<%=attribute.attributes.type%>" name="<%=attribute.name%>" id="create-<%=attribute.name%>" placeholder="<%=attribute.name%>" required
                           <%if(attribute.name === "type"){%>value="<%= type %>"<%}%>
                           <%if(attribute.attributes.type !== "checkbox"){%>placeholder="<%=attribute.name%>" required<%}%>
                           <%if(attribute.attributes.type ==="checkbox" && attribute.attributes.checked){%>checked<%}%>>
                            <%if(attribute.attributes.type === "checkbox"){%><label for="create-<%=attribute.name%>">The task is completed</label><%}%>
                            <br>
            <%} else if (attribute.tag === "textarea") {%>
                    <textarea placeholder="Type here.." name="<%=attribute.name%>" id="create-<%=attribute.name%>" required></textarea>
                    <br>
            <%}
            });%>

                <button class="button-img create" id="btn-post-note" type="button"></button>
            </form>
        </div>
    </section>
    <%- include('footer'); %>
    <script src="/js/entity-create.js"></script>
    <script>
        const _type = '<%= type %>';
        const _attributes = <%- attributes_names %>;
    </script>
    </body>
</html>
