<!doctype html>
<html lang="en">
    <head>
        <%- include('head'); %>
        <title><%= note.title %></title>
    </head>
    <body>
        <%- include('header'); %>
        <section>
            <div class="note view">
                <h1><%= note.title %></h1>
                <div class="flex">
                    <p class="p-block"><%= note.content %></p>
                </div>
            </div>
        </section>
    </body>
</html>
